<p style="color: green"><%= notice %></p>

<h1>Inventory items</h1>

<div id="inventory_items">
  <% @inventory_items.each do |inventory_item| %>
    <%= render inventory_item %>
    <p>
      <%= link_to "Show this inventory item", inventory_item %>
    </p>
  <% end %>
</div>

<%= link_to "New inventory item", new_inventory_item_path %>
